body{
    background-color:pink;
    color:black;
    font-family: 'Julius Sans One', sans-serif;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: center;
}

a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
}
.controls{
    width:330px;
    border-color:pink;
    color:black;
}
#home{
    color:#333;
}
#opening{
    height:300px;
    width:250px;
    text-align:center
    float:center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}